.jumbotron h1{
  font-size: 10;
  font-family: monospace;
}
.projectTitle{
  color: black;
}
.projectSubitle{
  color: gray;
  font-style: italic;
  font-size: 85%;
}
p{
  color: black;
}
.CommitDate{ /*I don't understand why p .CommitDate doesn't work*/
  text-decoration: underline;
}
.contactInfo h2{
  font-size: 10;
  font-family: monospace;
  font-weight: normal;
}
img{ /*I could see this becoming risky #Attn*/
  float: left;
  padding-right: 1%;
}
.landingHeader{
  background-color: gray;
}
h4{
  font-family: monospace;
  font-weight: normal;
}
/*.panel-body{
  background-color: white;
}*/
.about{
  font-family: monospace;
}
.contactNumOrHandle{
  font-variant: small-caps;
  font-weight: bold;
}
.date{
  font-weight: bold;
  font-style: italic;
}
.ugaSpirit{
  color: red;
}
.yaleSpirit{
  color: blue;
}
.epicodusSpirit{
  color: blue;
}
li .resumeSection{ /*I'm not sure why this isn't working*/
  font-style: normal;
  font-family: cursive;
}
.contacInfoList{
  list-style: none;
}
